.text {
    font-size: 15px;
    padding-left: 20px;
}

body{
  margin: 0px;
}

body{
  background-color: powderblue;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  text-align: center;
}

p{
  margin-left: 100px;
  margin-right: 100px;
}

